{%extends 'base.html'%}


{% block head %}
<title>Smart Fashion Recommender Application</title>
    {% endblock %}

<body>

    {% block body %}
    <h1 class="home">
    Welcome to my home page....
    </h1>
   
   <br><br>
    <h1>Abstract:</h1><h3><em>-> Clothing is a kind of symbol that represents people’s internal perceptions through
        their outer appearance<br>
   <b> Smart Fashion Recommender Application:</b><br>
    ->It conveys information about their choices, faith, personality, profession, social status, and attitude towards life. Therefore, clothing is believed to be a nonverbal way of communicating and a major part of people’s outer appearance<br>
    -> Recent technological advancements have enabled consumers to track current fashion trends
    around the globe, which influence their choices<br>
    -> The fashion choices of consumers depend on many factors, such as demographics, geographic location, individual preferences, interpersonal influences, age, gender, season, and culture<br>
    </em></h3>
   {% endblock %}
</body>
</html>