{%extends 'base.html'%}


{% block head %}
<title>Smart Fashion Recommender Application</title>
    {% endblock %}

<body>

    {% block body %}
    <h1 class="home">
    Welcome to my home page
    </h1>
   
   <br><br>
    <h1>ABSTRACT:</h1><h3><em>-> the textile and fashion industries have witnessed an enormous amount of
        growth in fast fashion<br>
   <b> Smart Fashion Recommender Application:</b><br>
    -> On e-commerce platforms, where numerous choices are available, an efficient recommendation system is required to sort, order, and efficiently convey relevant product
    content or information to users<br>
    -> Image-based fashion recommendation systems (FRSs) have attracted a huge amount of attention from fast fashion retailers as they provide a personalized shopping experience to consumers<br>
    -> With the technological advancements, this branch of artificial intelligence exhibits a tremendous amount of potential in image processing, parsing, classification, and
    segmentation.<br>
    </em></h3>
   {% endblock %}
</body>
</html>