{%extends 'base.html'%}


{% block head %}
<title>Smart Fashion Recommender</title>
    {% endblock %}

<body>

    {% block body %}
    <h1 class="home">
    WELCOME TO MY HOME PAGE
    </h1>
   
   <br><br>
    <h1>Abstract:</h1><h3><em>->Humans are inevitably drawn towards something that is visually more attractive. This tendency of humans has led to development of fashion industry over the course of time.<br>
   <b> Smart Fashion Recommender Application:</b><br>
    -> With introduction of recommender systems in multiple domains, retail industries are coming forward with investments in latest technology to improve their business.<br>
    ->Women are more correlated with fashion and style, and they have a larger product base to deal with making it difficult to take decisions <br>
    -> It has become an important aspect of life for modern families since a person is more often than not judged based on his attire. Moreover, apparel providers need their customers to explore their entire product line so they can choose what they like the most which is not possible by simply going into a cloth store.<br>
</em></h3>
   {% endblock %}
</body>
</html>